<div>
   <ngx-charts-chart
      [view]="[width + legendSpacing, height]"
      [showLegend]="false"
      [legendOptions]="legendOptions"
      [activeEntries]= this.activeEntries
      [animations]="animations"
      (legendLabelClick)="onClick($event)"
      (legendLabelActivate)="onActivate($event)"
      (legendLabelDeactivate)="onDeactivate($event)"
    >


      <svg:g [attr.transform]="transform" class="line-chart chart">
          <svg:g
          ngx-charts-x-axis
          *ngIf="xAxis"
          [xScale]="xScale"
          [dims]="dims"
          [showLabel]="showXAxisLabel"
          [labelText]="xAxisLabel"

          [showGridLines]="showGridLines"
          [tickFormatting]="xAxisTickFormatting"
          (dimensionsChanged)="updateXAxisHeight($event)"
        ></svg:g>
        <svg:g
          ngx-charts-y-axis
          *ngIf="yAxis"
          [yScale]="yScaleSP"
          [dims]="dims"
          [yOrient]="yOrientLeft"
          [showGridLines]="false"
          [showLabel]="showYAxisLabel"
          [labelText]="yAxisLabel"
          [tickFormatting]="yAxisTickFormatting"
          (dimensionsChanged)="updateYAxisWidth($event)"
        ></svg:g>
        <svg:g
          ngx-charts-y-axis
          *ngIf="yAxis"
          [yScale]="yScaleBitcoin"
          [dims]="dims"
          [yOrient]="yOrientRight"
          [showGridLines]="false"
          [showLabel]="showRightYAxisLabel"
          [labelText]="yAxisLabelRight"
          [tickFormatting]="yRightAxisTickFormatting"
          (dimensionsChanged)="updateYAxisWidth($event)"
        ></svg:g>
        <svg:g
        ngx-charts-y-axis
        *ngIf="yAxis"
        [yScale]="yScaleTreasury"
        [dims]="dims"
        [yOrient]="yOrientRight"
        [yAxisOffset]="-30"
        [showGridLines]="false"
        [showLabel]="showRightYAxisLabel"
        [labelText]="yAxisLabelRight"
        [tickFormatting]="yRightAxisTickFormatting"
        (dimensionsChanged)="updateYAxisWidth($event)"
      ></svg:g>
        <svg:g *ngIf="lineChart.length>0">
          <svg:g  *ngFor="let series of lineChart ;trackBy: trackBy">

            <svg:g
              app-line-series-plus
              [xScale]="xScale"
              [yScale]="(series.name == 'sp')?yScaleSP:(series.name == 'bitcoin')?yScaleBitcoin:yScaleTreasury"
              [colors]="colorsLine"
              [data]="series"
              [activeEntries]="activeEntries"
              [scaleType]="scaleType"
              [curve]="curve"
              [rangeFillOpacity]="rangeFillOpacity"
              [animations]="animations"
            />

          </svg:g>
          <svg:g
            id="tooltip"
            #TooltipArea
            app-tooltip
            *ngIf="!tooltipDisabled"
            [dims]="dims"
            [xSet]="xSet"
            [xScale]="xScale"
            [yScale]="yScaleSP"
            [results]="combinedSeries"
            [colors]="colorsLine"
            [tooltipDisabled]="tooltipDisabled"
            [tooltipTemplate]="seriesTooltipTemplate"
            (update)="updateVertical($event)"
          >
        </svg:g>




        </svg:g>
      </svg:g>

    </ngx-charts-chart>

</div>

