 <ngx-charts-chart
      [view]="[width + legendSpacing, height]"
      [showLegend]="legend"
      [legendOptions]="legendOptions"
      [activeEntries]="activeEntries"
      [animations]="animations"
      (legendLabelClick)="onClick($event)"
      (legendLabelActivate)="onActivate($event)"
      (legendLabelDeactivate)="onDeactivate($event)"
    >


      <svg:g [attr.transform]="transform" class="line-chart chart">
          <svg:g
          ngx-charts-x-axis
          *ngIf="xAxis"
          [xScale]="xScale"
          [dims]="dims"
          [showLabel]="showXAxisLabel"
          [labelText]="xAxisLabel"

          [showGridLines]="showGridLines"
          [tickFormatting]="xAxisTickFormatting"
          (dimensionsChanged)="updateXAxisHeight($event)"
        ></svg:g>
        <svg:g
          ngx-charts-y-axis
          *ngIf="yAxis"
          [yScale]="yScaleSP"
          [dims]="dims"
          [yOrient]="yOrientLeft"
          [showGridLines]="false"
          [showLabel]="showYAxisLabel"
          [labelText]="yAxisLabel"
          [tickFormatting]="yAxisTickFormatting"
          (dimensionsChanged)="updateYAxisWidth($event)"
        ></svg:g>
        <svg:g
          ngx-charts-y-axis
          *ngIf="yAxis"
          [yScale]="yScaleBitcoin"
          [dims]="dims"
          [yOrient]="yOrientRight"
          [showGridLines]="false"
          [showLabel]="showRightYAxisLabel"
          [labelText]="yAxisLabelRight"
          [tickFormatting]="yRightAxisTickFormatting"
          (dimensionsChanged)="updateYAxisWidth($event)"
        ></svg:g>
        <svg:g
        ngx-charts-y-axis
        *ngIf="yAxis"
        [yScale]="yScaleTreasury"
        [dims]="dims"
        [yOrient]="yOrientRight"
        [yAxisOffset]="-40"
        [showGridLines]="false"
        [showLabel]="showRightYAxisLabel"
        [labelText]="yAxisLabelRight"
        [tickFormatting]="yRightAxisTickFormatting"
        (dimensionsChanged)="updateYAxisWidth($event)"
      ></svg:g>
        <svg:g *ngIf="lineChart.length>0">
          <svg:g  *ngFor="let series of lineChart |keyvalue ;trackBy: trackBy">

            <svg:g
              ngx-charts-line-series
              [xScale]="xScale"
              [yScale]="(series?.value.name == 'sp')?yScaleSP:(series.value.name == 'bitcoin')?yScaleBitcoin:yScaleTreasury"
              [colors]="colorsLine"
              [data]="series.value"
              [activeEntries]="activeEntries"
              [scaleType]="scaleType"
              [curve]="curve"
              [rangeFillOpacity]="rangeFillOpacity"
              [animations]="animations"
            />

          </svg:g>
          <svg:g
            id="tooltip"
            #TooltipArea
            app-tooltip
            *ngIf="!tooltipDisabled"
            [dims]="dims"
            [xSet]="xSet"
            [xScale]="xScale"
            [yScale]="yScaleSP"
            [results]="combinedSeries"
            [colors]="colorsLine"
            [tooltipDisabled]="tooltipDisabled"
            [tooltipTemplate]="seriesTooltipTemplate"

          >

        </svg:g>

          <svg:g *ngFor="let series of lineChart|keyvalue ">
              <svg:g
              ngx-charts-circle-series
              [xScale]="xScale"
              [yScale]="(series?.value.name == 'sp')?yScaleSP:(series?.value.name == 'bitcoin')?yScaleBitcoin:yScaleTreasury"
              [colors]="colorsLine"
              [data]="series.value"
              [scaleType]="scaleType"
              [visibleValue]="hoveredVertical"
              [activeEntries]="activeEntries"
              [tooltipDisabled]="tooltipDisabled"
              (select)="onClick($event, series)"
              (activate)="onActivate($event)"
              (deactivate)="onDeactivate($event)"
            />
            </svg:g>
        </svg:g>
      </svg:g>
      <ng-template #seriesTooltipTemplate let-model="model">
        <div class="tool-template">
        <h4>{{parseDate(model.name)}}</h4>
        <div  *ngFor="let item of model">
            {{item.series}}:{{item.value}}
        </div>
        <!-- <pre>{{model|json}}</pre> -->
      </div>
      </ng-template>
    </ngx-charts-chart>
