<div class="flex-box flex-wrap">
    <div class="flex-1 chart" >

    <combo-chart-component
        *ngIf="lineChartSeries.length >0"
        class="chart-container"
        [view]="view"
        [scheme]="lineChartScheme"
        [colorSchemeLine]="lineChartScheme"
        [autoScale]="true"
        [animations]="animations"
        [lineChart]="lineChartSeries"
        [tooltipDisabled]="tooltipDisabled"
        [yAxisTickFormatting]="yLeftTickFormat"
        [yLeftAxisScaleFactor]="yLeftAxisScale"
        [yRightAxisScaleFactor]="yRightAxisScale"
        [yRightAxisTickFormatting]="yRightTickFormat"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [legend]="showLegend"
        [legendTitle]="legendTitle"
        [legendPosition]="legendPosition"
        [showGridLines]="showGridLines"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [showRightYAxisLabel]="showYAxisLabel"

        [yAxisLabelRight]="yAxisLabelRight"
        (select)="onSelect($event)"
      >
      </combo-chart-component>
      </div>
      <div class="flex-1 chart" >

          <combo-chart-component
              *ngIf="lineChartSeries.length >0"
              class="chart-container"
              [view]="view"
              [scheme]="lineChartScheme"
              [colorSchemeLine]="lineChartScheme"
              [autoScale]="true"
              [animations]="animations"
              [lineChart]="lineChartSeries"
              [tooltipDisabled]="tooltipDisabled"
              [yAxisTickFormatting]="yLeftTickFormat"
              [yLeftAxisScaleFactor]="yLeftAxisScale"
              [yRightAxisScaleFactor]="yRightAxisScale"
              [yRightAxisTickFormatting]="yRightTickFormat"
              [gradient]="gradient"
              [xAxis]="showXAxis"
              [yAxis]="showYAxis"
              [legend]="showLegend"
              [legendTitle]="legendTitle"
              [legendPosition]="legendPosition"
              [showGridLines]="showGridLines"
              [showXAxisLabel]="showXAxisLabel"
              [showYAxisLabel]="showYAxisLabel"
              [showRightYAxisLabel]="showYAxisLabel"

              [yAxisLabelRight]="yAxisLabelRight"
              (select)="onSelect($event)"
            >
            </combo-chart-component>
            </div>
</div>


