<ngx-charts-line-chart
        [view]="view"
        class="chart-container"
        [scheme]="scheme"
        [schemeType]="schemeType"

        [animations]="false"
        [legend]="showLegend"
        [gradient]="gradient"
        [xAxis]="xAxis"
        [yAxis]="yAxis"
        [showXAxisLabel]="xAxis"
        [showYAxisLabel]="yAxis"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        [autoScale]="false"
        [xScaleMin]="xScaleMin"
        [xScaleMax]="xScaleMax"
        [yScaleMin]="yScaleMin"
        [yScaleMax]="yScaleMax"
        [showGridLines]="showGridLines"
        [curve]="curve"
        [rangeFillOpacity]="rangeFillOpacity"
        [roundDomains]="roundDomains"
        [tooltipDisabled]="tooltipDisabled"
        [trimXAxisTicks]="trimXAxisTicks"
        [trimYAxisTicks]="trimYAxisTicks"
        [rotateXAxisTicks]="rotateXAxisTicks"
        [maxXAxisTickLength]="maxXAxisTickLength"
        [maxYAxisTickLength]="maxYAxisTickLength"
        (select)="onSelect($event)"
        (activate)="onActivate($event)"
        (deactivate)="onDeactivate($event)"
[scheme]="scheme"
[schemeType]="schemeType"
[results]="result"
></ngx-charts-line-chart>

<!-- <ngx-charts-chart
      [view]="[width, height]"
      [showLegend]="showLegend"
      [legendOptions]="legendOptions"
      [animations]="animations"
      *ngIf="data.series.length > 0"
    >
    <svg:defs>
        <svg:clipPath [attr.id]="clipPathId">
          <svg:rect
            [attr.width]="dims.width + 10"
            [attr.height]="dims.height + 10"
            [attr.transform]="'translate(-5, -5)'"
          />
        </svg:clipPath>
      </svg:defs>

    <svg:g [attr.transform]="transform" class="line-chart chart"  >
        <svg:g
        ngx-charts-x-axis
        *ngIf="xAxis"
        [xScale]="xScale"
        [dims]="dims"
        [showGridLines]="showGridLines"
        [showLabel]="showXAxisLabel"
        [labelText]="xAxisLabel"
        [trimTicks]="trimXAxisTicks"
        [rotateTicks]="rotateXAxisTicks"
        [maxTickLength]="maxXAxisTickLength"
        [tickFormatting]="xAxisTickFormatting"
        [ticks]="xAxisTicks"
        (dimensionsChanged)="updateXAxisHeight($event)"
      ></svg:g>



        <svg:g [attr.clip-path]="clipPath">
            <svg:g *ngFor="let series of result; trackBy: trackBy" >
              <svg:g
                ngx-charts-line-series
                [xScale]="xScale"
                [yScale]="yScale"
                [colors]="colors"
                [data]="series"
                [activeEntries]="activeEntries"
                [scaleType]="scaleType"
                [curve]="curve"
                [rangeFillOpacity]="rangeFillOpacity"
                [hasRange]="hasRange"
                [animations]="animations"
              />
            </svg:g>
            <svg:g *ngIf="!tooltipDisabled" (mouseleave)="hideCircles()">
              <svg:g
                ngx-charts-tooltip-area
                [dims]="dims"
                [xSet]="xSet"
                [xScale]="xScale"
                [yScale]="yScale"
                [results]="result"
                [colors]="colors"
                [tooltipDisabled]="tooltipDisabled"
                [tooltipTemplate]="seriesTooltipTemplate"
                (hover)="updateHoveredVertical($event)"
              />

                <svg:g
                  ngx-charts-circle-series
                  [xScale]="xScale"
                  [yScale]="yScale"
                  [colors]="colors"
                  [data]="data"
                  [scaleType]="scaleType"
                  [visibleValue]="hoveredVertical"
                  [activeEntries]="activeEntries"
                  [tooltipDisabled]="tooltipDisabled"
                  [tooltipTemplate]="tooltipTemplate"
                  (select)="onClick($event)"
                  (activate)="onActivate($event)"
                  (deactivate)="onDeactivate($event)"
                />

            </svg:g>
          </svg:g>
        <svg:g >
            <svg:g
              ngx-charts-line-series
              [xScale]="xScale"
              [yScale]="yScale"
              [colors]="colors"
              [data]="data"
              [scaleType]="scaleType"
              [curve]="curve"
              [activeEntries]="activeEntries"
              [animations]="animations"
              (activate)="onActivate($event)"
              (deactivate)="onDeactivate($event)"
            />

        </svg:g>
        <svg:g
        ngx-charts-y-axis
        *ngIf="yAxis"
        [yScale]="yScale"
        [dims]="dims"
        [showGridLines]="showGridLines"
        [showLabel]="showYAxisLabel"
        [labelText]="yAxisLabel"
        [trimTicks]="trimYAxisTicks"
        [maxTickLength]="maxYAxisTickLength"
        [tickFormatting]="yAxisTickFormatting"
        [ticks]="yAxisTicks"
        [referenceLines]="referenceLines"
        [showRefLines]="showRefLines"
        [showRefLabels]="showRefLabels"
        (dimensionsChanged)="updateYAxisWidth($event)"
      ></svg:g>



    </svg:g>

  </ngx-charts-chart> -->
