.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.grey {
    color: var(--grey);
}
.bold {
    font-weight: bold;
}
.uppercase {
    text-transform: uppercase;
}
.lowercase {
    text-transform: lowercase;
}
.pointer {
    cursor: pointer;
}
